{% extends "base.html" %}

{% block content %}
<ul class="timeline">
  <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
    <div class="timeline-arrow"></div>
    <div class="row">
      <div class="col-lg-2 mx-auto">
        <img src="https://bayguzin.ru/demo2014/blog_2014/images/pin5.jpg" style="width: 100%;">
      </div>
      <div class="col-lg-10 mx-auto">
        <h2 class="h5 mb-0">Вторая новость</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i> 21 March 2019</span>
        <p class="text-small mt-2 font-weight-light">Описание новости.</p>
      </div>
    </div>
  </li>
  <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
    <div class="timeline-arrow"></div>
    <div class="row">
      <div class="col-lg-2 mx-auto">
        <img src="https://bayguzin.ru/demo2014/blog_2014/images/pin6.jpg" style="width: 100%;">
      </div>
      <div class="col-lg-10 mx-auto">
        <h2 class="h5 mb-0">Третья новость</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i> 21 March 2019</span>
        <p class="text-small mt-2 font-weight-light">Описание новости</p>
      </div>
    </div>
  </li>
</ul>
{% endblock %}