{% extends "base.html" %}

{% block content %}
<div class="row" style="padding: 15px 15px;">
  <div class="user-block__column">
    <div class="card-body">Данные пользователя</div>
  </div>
  <div class="content-block__column">
    <div class="row">
      <div class="card h-100">
        <img src="#" class="card-img-top" alt="Описание картинки">
        <div class="card-body">
          <h5 class="card-title">Первая новость</h5>
          <p class="card-text">Описание новости.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card h-100">
        <img src="#" class="card-img-top" alt="Описание картинки">
        <div class="card-body">
          <h5 class="card-title">Вторая новость</h5>
          <p class="card-text">Описание новости.</p>
        </div>
      </div>
    </div>
    <div class="row" style="width: 25vh height: 25vh;">
      <div class="card h-100">
        <img src="#" class="card-img-top" alt="Описание картинки">
        <div class="card-body">
          <h5 class="card-title">Третья новость.</h5>
          <p class="card-text">Описание новости.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}