.container_map {
    width: 100vh;
    height: 82.7vh;
    margin: 0px auto;
}

.container {
    max-width: 70%;
    max-height: 60%;
    min-width: 480px;
    min-height: 270px;
    margin: 0px auto;
    padding: 15px 15px;
}

.content-block__column {
    flex: 0 1 80%;
    padding: 15px 15px;
}

.user-block__column {
    height: 84vh;
    width: 300px;
    flex: 0 1 20%;
    padding: 15px 15px;
    background: #E1DCE2;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}