{% extends "base.html" %}

{% block content %}
<div class="card-user">
  <div class="card-body">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-warning" role="alert">
          {% for message in messages %}
            {{ message }}<br>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <form action="{{ url_for('user.process_reg') }}" method="POST">
      <h2 class="h5 fw-normal">Регистрация</h2>
      {{ form.hidden_tag() }}
      <div class="row" style="height: 10px"></div>
      <div class="form-group">
        {{ form.first_name() }}
      </div>
      <div class="row" style="height: 10px"></div>
      <div class="form-group">
        {{ form.last_name() }}
      </div>
      <div class="row" style="height: 10px"></div>
      <div class="form-group">
        {{ form.login() }}
      </div>
      <div class="row" style="height: 10px"></div>
      <div class="form-group">
        {{ form.email() }}
      </div>
      <div class="row" style="height: 10px"></div>
      <div class="form-group">
        {{ form.address() }}
      </div>
      <div class="row" style="height: 10px"></div>
      <div class="form-group">
        {{ form.password() }}
      </div>
      <div class="row" style="height: 10px"></div>
      <div class="form-group">
        {{ form.repeat_password() }}
      </div>
      <div class="row" style="height: 10px"></div>
      <div class="row">
        {{ form.submit }}
        <div class="row" style="height: 10px"></div>
        <a href="{{ url_for('user.login') }}" class="btn btn-primary fw-bolder" role="button" aria-pressed="true">Войти</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}